:root {
  --theme-purple: #9C55C2;
  --theme-dark: #626262;
  --black-color: #000;
  --link-grey-color: #989898;
  --link-black-color: #151515;
  --screen-video-color: rgb(46, 46, 46);
  --black-color-opacity-2: rgba(0, 0, 0, .2);;
  --gray-color-opacity: rgba(148, 149, 153, .2);
  --google-button-login-color: #e4e4e4;
  --category-info-bg-gray-color: #F0F0F0;
  --light-gray-color: #949599;
  --product-bg-color: #C7C7C7;
  --search-bg-color: #EDEDED;
  --link-blue: #007BFF;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  padding: 0;
  box-sizing: border-box;
  color: var(--theme-dark);
  // overflow-x: hidden;
} 
a {
  text-decoration: none;
  color: var(--black-color);
}
i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0px;
}

/* custom container class to keey all product and its details */
.container-product {
  margin: 0 auto;

  @media (min-width: 1200px) {
    padding: 0 10px;
    max-width: 2000px;
  }

  @media (min-width: 1500px) {
    padding: 0 60px;
  }
}

.container-single-product {
  margin: 0 auto;
  padding: 0 12px;
}

.slider-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .slider {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    .slider-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      background-color: #fff;
      border: 1px solid var(--gray-color-opacity);

      i {
        color: var(--theme-dark);
      }
    }

    .slider-icon-left {
      left: 6px;
    }
    
    .slider-icon-right {
      right: 6px;
    }
  }

  .slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    
    .slider-dot {
      width: 6.5px;
      height: 6.5px;
      background-color: #bbb;
      border-radius: 50%;
      margin: 0 3px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        scale: 1.3;
        transition: transform 0.3s ease-in-out;
      }
    }
  
    .active {
      background-color: #333 !important;
    }
  }
}

.centered-links {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  a:hover {
    color: var(--black-color);
  }
}

.row,
.col-6,
.col-4 {
  margin: 0;
  padding: 0;
}

.Announcement {
  background-color: #1cb803;
  padding: 10px 0px 6px 0px;
}
.Announcement .col-md-6 p {
  color: white;
  margin-right: 6rem;
  font-size: 15px;
}
.Announcement .col-12 a {
  color: white;
  margin-right: 2rem;
  font-size: 15px;
}
/* Header */
.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 2000;
  padding: 0 5px;
  box-shadow: 0 1px 1px 0 rgba(169, 169, 169, 0.14), 0 1px 1px -4px rgba(169, 169, 169, 0.2), 0 1px 1px 0 rgba(169, 169, 169, 0.12);

  .container-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    .brand {
      display: inline-block;

      .navbar-brand {
        gap: 4px;

        .navbar-brand img {
          width: 100%;
          width: 40px;
        }
        .navbar-brand-text h5 {
          color: var(--link-black-color);
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 900;

          @media (min-width: 1038px) {
            font-size: 15px;
          }
        }
      }
    }

    .search-bar {
      max-width: 700px;
      cursor: pointer;
      
      form.navbar-search {
        width: 100%;
        height: 100%;

        .input-group-prepend {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          z-index: 2;

          .input-group-text {
            background: transparent;
            border: none;

            p {
              display: block;
              font-size: 13px;
              color: var(--light-gray-color);

              @media (min-width: 576px) {
                display: none;
              }
            }
          }
        }
        
        input {
          display: none;
          cursor: pointer;
          border-radius: 24px !important;
          
          @media (min-width: 576px) {
            display: block;
          }
          
          &::placeholder {
            float: right;
            margin: 29px 0 30px 40px;
          }
        }
      }
      
    }
    
    .navbar-nav {
      flex-direction: row;
      gap: 20px;

      .nav-link {
        padding: 12px 0;
        font-size: 16px;
        color: var(--link-grey-color) !important;
        white-space: nowrap;

        &:hover {
          color: var(--link-black-color) !important;
          font-weight: 600;
          transition: .1s ease-in-out;
        }
      }

      .active .nav-link {
        color: var(--link-black-color) !important;
        font-weight: 600
      }
    }

    .login {
        
      .navbar-Login-Register {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: var(--theme-dark) !important;
        white-space: nowrap;
        text-decoration: none;

        .login-hover-show {
          border-radius: 8px;
          padding: 6px 12px;
          color: var(--black-color);
          font-weight: 600;

          &:hover {
            background-color: var(--search-bg-color);
            transition: .4s ease-in-out;
          }
        }
        
        .btn-theme-purple {
          background-color: var(--theme-purple);
          color: #fff;
          border-radius: 8px;
        }
      }

      .round-cover-avatar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        border: 1px solid var(--gray-color-opacity);
        padding: 4px;

        .avatar {
          background-color: var(--theme-purple);
          color: #fff;
          border-radius: 100%;
          height: 30px;
          width: 30px;
        }
      }
    }

    .order:nth-child(3) {
      order: 4;
    }

    .order:nth-child(4) {
      order: 3;
    }

    @media (min-width: 1196px) {
      .order:nth-child(3) {
        order: 3;
      }
  
      .order:nth-child(4) {
        order: 4;
      }
    }

    @media (min-width: 768px) {
      width: 100%;
      gap: 0 60px;
    }
  }

  @media (min-width: 768px) {
    padding: 8px 30px 8px;
  }

  @media (min-width: 2000px) {
    padding: 8px 80px 8px;
  }
}

// CAROUSEL
.carousel {


  .indicate {
    background-color: var(--category-info-bg-gray-color) !important;
  }
  
  .carousel-text {
    position: absolute;
    width: 100%;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    gap: 25px;
    padding: 10px;

    h1 {
      font-weight: 700;

      @media (min-width: 1200px) {
        font-size: 50px;
        font-weight: bold;
      }

      @media (min-width: 1380px) {
        font-size: 62px;
        font-weight: bold;
      }
    }

    p {
      font-size: 20px;
      padding: 0 16px;
      text-align: center;

      @media (min-width: 1200px) {
        font-size: 20px;
      }
    }

    button {
      border: none;
      border-radius: 12px;
      padding: 10px 15px;
      background-color: var(--theme-purple);
      color: #fff;
    }

    @media (min-width: 1200px) {
      top: 100px;
      gap: 30px;
    }

    @media (min-width: 1400px) {
      gap: 30px;
    }
  }
}

@media (max-width: 1380px),
(max-height: 700px) {
  .carousel {
    height: 68vh;

    img {
      height: 68vh;
      object-fit: contain;
    }
  }
}

/* CATEORY BUTTON STYLES */
.filter-category {
  display: flex;
  gap: 8px;

  a {
    font-size: 16.5px;
    white-space: nowrap;
  }
  
  .categoryButton {
    padding: 8px 12px;
    border-radius: 50px;
    border: 1px solid var(--gray-color-opacity);
    cursor: pointer;
    text-decoration: none;
    color: var(--link-black-color); 
    font-weight: 700;
    background-color: #fff;
    
    &:hover {
      background-color: var(--gray-color-opacity); 
      color: var(--link-black-color); 
      transition: .3s ease-in-out;
    }
  }
  
  .activeCategory {
    background-color: var(--link-black-color);
    color: #fff;
    
    &:hover {
      background-color: var(--link-black-color);
      color: #fff; 
    }
  }
}

/* SHOP */
.mobile-web-category {

  .section {
    padding-bottom: 6%;
    padding-top: 2%;

    .products {


      .browse {
        color: var(--black-color);
        font-weight: 900;
        text-transform: uppercase;
        padding: 10px 8px 15px;
    
        @media (min-width: 998px) {
          padding: 30px 8px 30px;
        }
      }
    
      .category-button {
        padding: 5px 10px;
        border-radius: 15px;
      }
  
      .product-case {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        gap: 35px 10px;
        
        .mobile-product-screen {
          display: flex;
          flex-direction: column;
          flex: 0 1 calc(50% - 10px);
          width: 100%;
          
          .shop-product {
            width: 100%;
            height: 100%;
            
            .shopBack {
              width: 100%;
              position: relative;
              overflow: hidden;
              width: 100%;
              background-color: #f3fbf7;
              border-radius: 18px;
              border: 1px solid var(--gray-color-opacity);

              @media (min-width: 476px) {
                // height: 500px;
              }
            }
          }
                
          .product-brand-cat {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        
            .product-brand {
              max-width: 50px;
              height: 50px;
              
              img {
                width: 100%;
                border-radius: 100% !important;
              }
            }
        
            .shoptext {

              p {
                color: var(--link-black-color);
              }
              
              &:hover>p {
                text-decoration: underline;
              }
        
              .category span {
                font-size: 13.3px;
                color: var(--light-gray-color);
              }
            }
          }

          @media (min-width: 580px) {
            flex: 0 1 calc(30% - 10px);
          }

          @media (min-width: 992px) {
            flex: 0 1 calc(30% - 10px);
          }

          @media (min-width: 1060px) {
            flex: 0 1 calc(22% - 10px);
          }

          @media (min-width: 1400px) {
            flex: 0 1 calc(18% - 10px);
          }
        }

        .slider-container {
          

          img.slider-image {
            object-position: top;
            object-fit: contain;
            width: 100%;
            height: 100%;
            vertical-align: middle;

            @media (min-width: 476px) {
              // height: 500px;
            }
          }
        }

        .slider-container .slider-icon,
        .slider-container .slider-dots {
          display: none;
        }
        
        .mobile-product-screen:hover .slider-container .slider-icon,
        .mobile-product-screen:hover .slider-container .slider-dots {
          transition: transform .5s ease-in-out;
          display: block;
          z-index: 2000;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        @media (min-width: 986px) {
          gap: 40px 20px;
        }
      }
    }
  }
}
/* END OF SHOP */

/* NEWSLATTER */
.subscribe-section {
  padding: 50px 30px;
  background-color: var(--black-color);

  .subscribe-head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .head-text {
      color: #fff;
      margin: 10px;
      flex: 1 1 0%;
      
      h2 {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 30px;
        margin: 0 0 13px;
      }
      p {
        font-size: 18px;
        line-height: 22px;
      }
    }
    
    .form-section {
      flex: 1 1 0%;
      margin: 10px;

      .input-group {
        justify-content: flex-end;
      }

      input[type="email"] {
        border: 0 none;
        border-radius: 25px;
        color: #9b9b9b;
        font-size: 16px;
        font-style: normal;
        height: 51px;
        letter-spacing: 0;
        width: 270px;
        max-width: 450px;

        @media (min-width: 768px) {
          width: 300px;
        }
      }

      button[type="button"] {
        background: var(--theme-purple);
        border: 0 none;
        border-radius: 0 10px 10px 0;
        color: #fff;
        height: 52px;
        letter-spacing: 0;
        padding: 0 14px;
        font-size: 12px;
      }
    }

    @media (min-width: 1100px) {
      flex-direction: row;
      justify-content: space-between !important;
    }
  } 
}
/* END OF NEWSLATTER */

/* SINGLE PRODUCT */
.single-product {
  padding: 80px 0;
  display: flex;
  flex-direction: column;

  .single-product-info,
  .single-product-flows {
    flex: 100%;
  }
  
  .single-product-info {
    background-color: var(--category-info-bg-gray-color);
    border-radius: 10px;
    padding: 30px 20px;

    p,
    span {
      font-size: 15px;
    }

    h5 {
      font-size: 17px;
      font-weight: 900;
    }

    .brand-cat-web {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      .single-product-brand {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 40%;
        max-width: 120px;
        height: 120px;
        
        img {
          width: 95%;
          border-radius: 20px !important;
        }
      }

      .single-product-cat-web {
        width: 60%;

        h3 {
          font-weight: bold;
        }
      }
    }

    .rating {

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5.5px 0;
      }

      .fas,
      .fa-star {
        font-size: 14px;
        color: #FFD700; 
        background-clip: content-box;
        padding: 2px; 
      }

      .fas.fa-star,
      .fas.fa-star-half-alt {
        color: #FFD700; 
      }
    }

    .interest {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 22px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 40px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
    }
  
    @media (min-width: 767px) {
      margin-right: 50px;
    }
  }


  .single-product-flows {
    
    .screen-video-version-button {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
  
      p {
        font-size: 16px;
      }

      .screen-video-button {
        width: 310px;
        display: flex;
        gap: 10px;
        border-bottom: .5px solid var(--gray-color-opacity);
        cursor: pointer;
  
        .screen-button,
        .video-button {
          display: inline-block;
          padding: 8px 14px;
          margin: 40px 0 0;
          border-radius: 10px 10px 0 0;
  
          @media (min-width: 767px) {
            margin: 0;
          }
        }
        
        .screen-button {
          background-color: var(--category-info-bg-gray-color);
          color: var(--theme-dark);
        }
  
        .video-button {
          background-color: var(--screen-video-color);
          color: #fff;
        }
      }

      .version {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        .version-text {
          font-weight: 900;
        }

        .version-button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 14px;
          border-radius: 10px;
          background-color: var(--search-bg-color);
          gap: 20px;
        }

        @media (min-width: 992px) {
          justify-content: flex-end;
        }
      }

      @media (min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .product-flows {
      
      
      .flow {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: thin;
        scrollbar-color: var(--black-color-opacity-2);

        &::-webkit-scrollbar {
          width: 12px;
          height: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--black-color-opacity-2); 
          border-radius: 6px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent; 
        }
        
        img {
          min-width: 240px;
          height: 530px;
          border: 1px solid var(--gray-color-opacity);
          margin: 10px 0;
          object-fit: contain;
          object-position: center;
          border-radius: 20px !important;
        }

        @media (min-width: 767px) {
          gap: 20px;
          width: calc(100vw - 369px);
        }
      }

      @media (min-width: 767px) {
      }
    }
  }

  @media (min-width: 767px) {
    flex-direction: row;

    .single-product-info {
      max-width: 291px;
    }
  }

  @media (min-width: 1168px) {
    padding: 50px 0;
  }
}

/* BLOG */
.blogs {
  .blog-header {
    margin: 80px 40px 70px;
  
    h2 {
      font-size: 35px;
      font-weight: 900;
  
      @media (min-width: 768px) {
        font-size: 50px;
        font-weight: 900;
      }
    }
  
    p {
      font-size: 18px;
    }
  }
  
  .blog-posts {
    .blog {
      margin-bottom: 80px;
  
      .blog-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        img{
          object-fit: contain;
          width: 100%;
          height: 380px;
          margin: 0 auto;
        }
        
        .blog-text {
          max-width: 370px;
  
          .blog-title,
          .blog-excerpt {
            margin: 20px;
          }
        
          .blog-excerpt {
            font-size: 16px;
            color: var(--theme-dark);
          }
        }
      }
      
      button {
        padding: 12px 18px;
        margin-left: 40px;
        border: none;
        border-radius: 8px;
        background-color: var(--theme-purple);
        color: #fff;
    
        &:hover {
    
        }
      }
    }
  }
}

// SINGLE BLOG
.single-blog {
  max-width: 900px;
  margin: 0 auto;

  .single-blog-title {
  
  
    .blog-title {
      margin-top: 150px;
      font-size: 30px;
      font-weight: bold;

      @media (min-width: 767px) {
        font-size: 50px;
        font-weight: 900;
      }

      @media (min-width: 1196px) {
        margin-top: 130px;
      }
    }
  }

  img {
    width: 100%;
    object-fit: contain;
    margin: 30px 0;

    @media (min-width: 767px) {
      height: 500px;
      margin: 50px 0;
    }
  }
}

/* LOGIN */
.stretch-me {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .register-me,
  .login-me {
    display: flex;
    flex-direction: row;
    height: 100vh;
  
    .image {
      display: none;
      
      @media (min-width: 1100px) {
        display: flex;
        overflow: hidden;
        flex: 1 1 0%;
        position: relative;
        text-align: center;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  
    @media (min-width: 1100px) {
      justify-content: unset;
    }
  }
}
 
/* LOGIN - REGISTER BOTH FOR NORMAL AND PROMPT */
.form-register,
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
  margin: 0 15px;
  height: 100%;

  h4 {
    font-size: 40px;
    font-weight: 900;
    color: var(--black-color);
    margin: 0 0 40px;
  }
  
  .form-me {
    max-width: 474px;

    input {
      width: 100%;
      padding: 12px 20px;
      margin-top: 20px;
      border: 1px solid #e4e4e4;
      border-radius: 11px;
      color: #8a8a8a;
    }
    input:focus {
      outline: 0px;
    }
    
    button {
      width: 100%;
      margin-top: 20px;
      padding: 12px 0;
      border: 0;
      border-radius: 11px;
    }
    
    button.register-button,
    button.login-button {
      color: white;
      background-color: var(--theme-purple);
    }
    button.google-button {
      border: 1px solid var(--google-button-login-color);
      color: var(--theme-dark);
      background-color: #fff;
      gap: 20px;
    }
    p {
      margin-top: 30px;
    }
    p a {
      color: var(--link-blue);
    }
  }
}

.form-login {
  p.prompt-text {
    text-align: center;
    font-size: 23px;
    color: var(--black-color) !important;
    font-weight: 900;
    margin-bottom: 30px;
  }

  .persist-reset {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .persist label {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      cursor: pointer;

      input {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
    
    a {
      color: var(--link-blue);
      text-decoration: underline;
    }
  }
}

/* CONFIRM MAIL */
.confirm-mail,
.verified-mail {
  height: 100vh;

  .confirm-center,
  .verified-center {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
  
      h2 {
        color: var(--black-color);
        font-size: 20px;
        font-weight: 900;

        @media (min-width: 768px) {
          font-size: 40px;
        }

        @media (min-width: 992px) {
          font-size: 50px;
        }
      }

      p {
        padding-top: 0;
      }
    }
  
    p {
      padding-top: 90px;
    }

    @media (min-width: 992px) {
      width: 50%;
    }
  }
  
  img {
    width: 70%;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }
  }
}

/* LOGIN PROMPT */
.login-prompt {
  z-index: 10000;
  height: 100vh;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=275, Color=#fff)";/*IE 8*/
  -moz-box-shadow: -6px -250px 31px 27px rgba(255,255,255,0.4);/*FF 3.5+*/
  -webkit-box-shadow: -6px -250px 31px 27px rgba(255,255,255,0.4);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: -6px -250px 31px 27px rgba(255,255,255,0.4);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=31, Direction=135, Color=#fff); /*IE 5.5-7*/
}

/* PROFILE */
.author-card {
  position: relative;
}
.author-card-cover {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-image: url("https://gust.com/assets/blank_slate/Gust_Profile_CoverPhoto_Blank-21edf1e2890708d5a507204f49afc10b7dc58eb7baea100b68a1bc2c96948297.png");
}
.author-card-profile {
  padding: 20px 10px;
}
.author-card-avatar {
  padding: 0 20px;
}
.author-card-avatar img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 100px;
  margin-top: -60%;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.377);
}
.wizard .nav button {
  padding: 15px 20px;
  font-size: 13px;
  background-color: #ffffff;
  color: black;
  width: 100%;
  text-align: start;
  border-radius: 0;
  text-transform: uppercase;
  border-top: 1px solid #e4e4e4;
}
.wizard .nav .active {
  background-color: #e5fee9;
  color: black;
}
.badge2 {
  width: 20px;
  height: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #ffffff;
}
.form {
  padding: 20px 0;
}
.form label {
  padding: 10px 0;
  color: #8a8a8a;
  text-transform: uppercase;
  font-size: 13px;
}
.form input {
  padding: 20px 10px;
  font-size: 17px;
  background-color: #e5fee9;
}
.form-container button {
  padding: 15px 0;
  border: 0px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #1cb803;
  color: #ffffff;
}

/* FOOTER */
.footer {
  background-color: var(--black-color);
  margin-top: .5rem;
  padding: 16px;

  .row {


    .col-lg-4 {
      padding: 20px 0;
  
      @media (min-width: 992px) {
        padding: 0;
      }
    }

    .footer-logo {

      h5 {
        text-transform: uppercase;
        font-size: 15px;
      }
    }
  
    .social-icons{
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 25px;

      @media (min-width: 992px) {
        justify-content: center;
      }
    }

    .year {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 25px;
      white-space: nowrap;

      @media (min-width: 992px) {
        justify-content: flex-end;
      }
    }
  }

  @media (min-width: 992px) {
    padding: 16px 30px;
  }
}

/* Pagination */
.pagination .page-link {
  padding: 10px 30px;
  color: black;
}
.page-item.active .page-link {
  background-color: black;
  border: 1px solid black;
}
